p {
    margin: 0;
}

.detail-container {
    margin: 0;
    display: flex;
    justify-content: center;
}

.post-detail-box {
    /* border: 1px solid black; */
    border-radius: 5px;
    width: 1000px;
    padding: 20px;
}

.post-reg-info {
    overflow: hidden;
    margin-bottom: 50px;
    color: #999;
}

.writer-name {
    float: left;
    font-size: small;
}

.reg-date {
    float: right;
    font-size: small;
}

.post-info-box {
    display: flex;
    justify-content: center;
}

.post-info {
    width: 700px;
}

.post-title-btn {
    overflow: hidden;
    margin-bottom: 10px;
}

.post-title-info {
    display: flex;
    gap: 10px;
    font-size: small;
    float: left;
}

.post-title-info p,
.post-title-info input {
    padding: 5px;
    border: none;
    background-color: white;
}

.btn-box {
    float: right;
}

.post-delete-btn {
    all: unset;
    color: #999;
    border: 1px solid #999;
    border-radius: 2px;
    padding: 2px 3px;
    font-size: small;
}

.post-modify-btn {
    all: unset;
    color: #00249cd5;
    border: 1px solid #00249cd5;
    border-radius: 2px;
    padding: 2px 3px;
    font-size: small;
}

.post-content-info {
    margin-bottom: 20px;
}

.post-content-info textarea {
    padding: 10px;
    width: 100%;
    height: 200px;
    resize: none;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: white;
}

.page-into {
    overflow: hidden;
}

.page-list {
    float: right;
    border-radius: 3px;
    background-color: #474747;
    padding: 2px 10px;
}

.page-list a {
    text-decoration: none;
    color: white;
    font-size: small;
}

/* 댓글 */

.post-comment-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.post-comment-box {
    width: 700px;
}

.post-comment-box > p {
    padding: 10px 0;
}

.post-comment-write {
    display: flex;
    border-top: 1px solid #666;
    padding: 10px 5px;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.post-comment-write > textarea {
    border-radius: 3px;
    padding: 5px;
    width: 90%;
    height: 50px;
    resize: none;
    overflow-y: auto;
}

.post-comment-write > button {
    all: unset;
    border-radius: 3px;
    font-size: small;
    padding: 5px;
    cursor: pointer;
    color: #333;
}

.post-comment-write > button:hover {
    background-color: #ddd;
}

.post-comment-list {
    width: 100%;
}

.comment-list {
    margin-bottom: 20px;
    padding: 20px 10px 10px;
}

.comment-writer {
    display: flex;
    gap: 20px;
    font-size: small;
    align-items: baseline;
}

.comment-writer > p:nth-child(1) {
    font-weight: 600;
    font-size: medium;
    color: rgb(255, 136, 0);
}

.comment-writer > p:nth-child(2) {
    color: #999;
}

.comment {
    /* border: 1px solid red; */
    margin: 10px 0;
    padding: 5px 0;
    font-size: small;
    color: #333;
}

.comment-list > button {
    all: unset;
    font-size: small;
    color: #999;
    cursor: pointer;
}
