body {
    margin: 0;
}

.list-container {
    padding: 40px;
}

.list-container p {
    text-align: center;
    font-size: large;
    font-weight: 600;
    margin: 30px;
    padding: 0;
    /* margin-bottom: 20px; */
}

.btn-write {
    margin-bottom: 10px;
    text-align: right;
    padding: 5px;
}

.list-post-box {
    padding: 30px;
}

table{
    /* border: 1px solid black; */
    width: 100%;
}

th {
    padding: 5px;
    text-align: center;
    background-color: bisque;
}

th:nth-child(1) {
    width: 10%;
}

th:nth-child(2) {
    width: 65%;
}

td {
    padding: 5px 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: small;
}

td:nth-child(2) {
    text-align: left;
}