body {
    margin: 0;
}

.list-container {
    padding: 40px;
}

.list-container p {
    text-align: center;
    font-size: large;
    font-weight: 600;
    padding: 0;
    /* margin-bottom: 20px; */
}

.btn-write {
    margin-bottom: 10px;
    text-align: right;
    
}

.btn-write > a {
    text-decoration: none;
    color: rgb(255, 136, 0);
    border: 1px solid rgb(255, 136, 0);
    border-radius: 5px;
    padding: 2px 10px;
    font-size: small;
}

.list-post-box {
    padding: 30px 80px;
}

table{
    /* border: 1px solid black; */
    width: 100%;
}

th {
    padding: 5px;
    text-align: center;
    background-color: rgb(255 249 242);
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
}

th:nth-child(1) {
    width: 10%;
}

th:nth-child(2) {
    width: 65%;
}

td {
    padding: 5px 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: small;
}

td:nth-child(2) {
    text-align: left;
}

td > a {
    text-decoration: none;
    color: black;
}