body {margin: 0;}

p {margin: 0;}

.login-container {
    background-color: #dddddd26;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
}

.login-box {
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    background-color: white;
    padding: 50px;
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-box > p {
    font-size: x-large;
    font-weight: 600;

}

.login-info {
    gap: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.login-info input {
    border: 0.5px solid #666;
    border-radius: 5px;
    padding: 7px;
    font-size: small;
}

.btn-box {
    display: flex;
    justify-content: center;
}

.btn-box button {
    border: none;
    background-color: rgb(5, 5, 119);
    color: white;
    padding: 4px 20px;
    width: 50%;
    cursor: pointer;
}

.login-box a {
    text-decoration: none;
    color: #666;
    font-size: small;
    cursor: pointer;
}

.login-box a:hover {
    color: rgb(5, 5, 119);
}